```css
html, body{
  min-height: 100%
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div{
  background-color: whitesmoke;
}

#canvas{
  min-width: 1000px;
  min-height: 600px
}
```

